# =========================
# Repo specific
# =========================
#.*
#.cache-main
#.cache-tests

build.sbt
Doc/

Lectures/.settings/
Lectures/.worksheet/
Lectures/.cache-main
Lectures/.gitignore

Assignments/*/project/
Assignments/*/src/main/scala/common/
Assignments/*/.settings/
Assignments/*/.cache-main
Assignments/*/.cache-tests
Assignments/*/.gitignore
Assignments/*/build.sbt

# =========================
# Language/tools specific
# =========================
# Scala specific
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# =========================
# Windows specific
# =========================
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
